
<div class="app-container" style="margin-top: 100px;"><!--hehe la solution de pb chez le groupe-->

    <!-- Section Vidéo et Navigation -->
    <div class="header__video-container">
        <video #headerVideo class="header__video" autoplay muted loop playsinline>
            <source src="videos/header-video.mp4" type="video/mp4">
            Votre navigateur ne supporte pas la vidéo.
          </video>
          
    </div>
  
    <!-- Navigation -->
    
  
    <!-- Header Principal -->
    <header id="home">
      <div class="header__container">
        <div class="header__content">
          <p>Magmate – Votre assistant touristique pour les services marocains</p>
          <h1>Vivez l'ambiance marocaine!</h1>
        </div>
      </div>
    </header>
  
    <!-- Section Marketplace -->
    <section class="section__container destination__container" id="Marketplace">
      <h2 class="section__header">Marketplace</h2>
      <p class="section__description">
        Découvrez les produits artisanaux marocains
      </p>
      <div class="destination__grid">
        <div class="destination__card">
          <img src="images/destination-1.jpg" alt="destination" />
          <div class="destination__card__details">
            <div>
              <h4>Poterie</h4>
              <p>Tajine</p>
            </div>
          </div>
        </div>
        <div class="destination__card">
          <img src="images/destination-2.jpeg" alt="destination" />
          <div class="destination__card__details">
            <div>
              <h4>Maroquinerie</h4>
              <p>Babouches marocaines</p>
            </div>
          </div>
        </div>
        <div class="destination__card">
          <img src="images/destination-3.jpg" alt="destination" />
          <div class="destination__card__details">
            <div>
              <h4>Pigments naturels</h4>
              <p>Indigo naturel</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Section Événement -->
    <section class="section__container journey__container" id="événement">
      <h2 class="section__header">Événement</h2>
      <p class="section__description">
        Découvrez les événements marocains
      </p>
      <div class="journey__grid">
        <div class="journey__card tan-tan">
          <div class="journey__card__bg">
            <h4>Moussem de Tan-Tan</h4>
          </div>
          <div class="journey__card__content">
            <img src="images/zellige.png" alt="Moussem de Tan-Tan" class="journey__icon">
            <p>
                Ce moussem, classé patrimoine immatériel de l’humanité par l’UNESCO, rassemble chaque année des tribus nomades du Sahara.
              </p>
          </div>
        </div>
        
        <div class="journey__card gnaoua">
          <div class="journey__card__bg">
            <h4>Festival Gnaoua d'Essaouira</h4>
          </div>
          <div class="journey__card__content">
            <img src="images/zellige.png" alt="Festival Gnaoua" class="journey__icon">
            <p>
                Festival de musique dédié aux traditions Gnaoua, mêlant musique spirituelle africaine, jazz, reggae et musiques du monde. Il attire des milliers de spectateurs et musiciens internationaux.
              </p>
          </div>
        </div>
        
        <div class="journey__card roses">
          <div class="journey__card__bg">
            <h4>Festival Mawazine</h4>
          </div>
          <div class="journey__card__content">
            <img src="images/zellige.png" alt="Moussem des Roses" class="journey__icon">
            <p>
                l’un des plus grands festivals de musique au monde, organisé chaque année à Rabat. Il a été créé par l'association Maroc Cultures sous le haut patronage de Sa Majesté le Roi Mohammed VI. Son objectif principal est de promouvoir la diversité musicale et culturelle, en mettant en valeur à la fois des artistes marocains et des stars internationales.
              </p>
          </div>
        </div>
      </div>
    </section>
  
    <section class="section__container showcase__container" id="Service de traduction et monnaie">
        <div class="showcase__image">
          <img src="images/showcase.jpeg" alt="showcase" />
        </div>
        <div class="showcase__content">
          <h4>Service de traduction : Parlez aux Marocains</h4>
          

          <p *ngIf="currentLanguage === 'french'" >
            J’admire vraiment la richesse de la culture marocaine, tout est si coloré, chaleureux et authentique… et je suis particulièrement fascinée par le savoir-faire artisanal des femmes ici. Pouvez-vous m’expliquer comment vous arrivez à casser les noyaux d’argan aussi facilement ? Ça a l’air d’un travail très minutieux et difficile
          </p>
          
          <p *ngIf="currentLanguage === 'arabic'" >
            أنا معجبة حقًا بغنى الثقافة المغربية، فكل شيء هنا ملوّن ودافئ وأصيل... وأنا منبهرة بشكل خاص بمهارة النساء في الحِرف اليدوية. هل يمكنك أن تشرحي لي كيف تستطيعين كسر نوى الأركان بهذه السهولة؟ يبدو أنه عمل دقيق وصعب جدًا
          </p>
          
          <div class="showcase__btn">
            <button class="btn" (click)="toggleLanguage()">
              {{ currentLanguage === 'french' ? 'Traduire en arabe' : 'Traduire en français' }}
              <i class="ri-arrow-right-line"></i>
            </button>
          </div>
        </div>
      </section>
      
  
    <!-- Section Prestataires -->
    <section class="section__container discover__container" id="Service de prestataire">
      <h2 class="section__header">Service de prestataire</h2>
      <p class="section__description">
        Découvrez les services qu'offrent les Marocains.
      </p>
      <div class="discover__grid">
        <div class="discover__card">
          <span><i class="ri-camera-lens-line"></i></span>
          <h4>Photographe ou vidéaste touristique</h4>
          <p>
            Vous voulez garder un souvenir inoubliable de votre passage à Marrakech, Fès ou Chefchaouen ? Je vous propose des séances photos et vidéos panoramiques depuis les plus beaux toits et terrasses de la médina
          </p>
        </div>
        <div class="discover__card">
          <span><i class="ri-ship-line"></i></span>
          <h4>Guide de balades en bateau ou en felouque</h4>
          <p>
            Je vous propose des balades guidées en bateau ou en felouque, au départ des plus beaux ports comme Essaouira, Agadir ou Dakhla.
Naviguez à travers les eaux turquoise, explorez des criques secrètes et admirez les paysages côtiers comme vous ne les avez jamais vus.
          </p>
        </div>
        <div class="discover__card">
          <span><i class="ri-landscape-line"></i></span>
          <h4>Guide spécialisé dans les treks en montagne</h4>
          <p>
            Si vous cherchez à vivre une expérience unique et mémorable au cœur des montagnes du Maroc, je vous propose de vous accompagner dans des treks inoubliables, notamment l'ascension du Mont Toubkal.
          </p>
        </div>
      </div>
    </section>
  
    <!-- Section Témoignages -->
    <section class="section__container client__container">
        <p class="section__description">
            Partagez votre avis sur vos prestataires et inspirez d'autres touristes à vivre cette expérience unique !
          </p>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="client__card">
              <div class="client__content">
                <div class="client__rating">
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                </div>
                <p>
                    J'ai eu la chance de faire appel à ce guide pour une séance photo à Marrakech, et je ne pourrais pas être plus satisfait de l'expérience ! Non seulement les vues depuis les toits et terrasses de la médina étaient spectaculaires, mais le guide a su capturer des moments incroyables avec des photos et vidéos panoramiques. Il a pris le temps de me montrer les endroits les plus pittoresques tout en me racontant l'histoire fascinante de la ville. Ce fut un souvenir inoubliable, et je recommande vivement ses services à tous ceux qui souhaitent avoir des souvenirs mémorables de leur voyage au Maroc ! 😊📸
                  </p>
              </div>
              <div class="client__details">
                <img src="images/client-1.jpeg" alt="client" />
                <div>
                  <h4>Gojo Satoru</h4>
                  <h5>professeur au lycée d'exorcisme de Tokyo</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="client__card">
              <div class="client__content">
                <div class="client__rating">
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                </div>
                <p>
                  Une expérience absolument incroyable ! J'ai réservé une balade en felouque au départ d'Essaouira et ce fut l'un des moments les plus mémorables de mon voyage au Maroc. Le guide était passionné, très sympathique et a su nous faire découvrir des criques secrètes que nous n'aurions jamais trouvées seuls. La navigation sur les eaux turquoise était magique, et les paysages côtiers étaient tout simplement à couper le souffle. C'est une manière unique de découvrir la beauté de la côte marocaine. Je recommande vivement ce service à tous ceux qui cherchent une expérience authentique et paisible !📸🌆
                
                </p>
              </div>
              <div class="client__details">
                <img src="images/client-2.jpeg" alt="client" />
                <div>
                  <h4>Eren Yeager</h4>
                  <h5>Membre puis soldat du Bataillon d'explorationt <br/></h5>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="client__card">
              <div class="client__content">
                <div class="client__rating">
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                </div>
                <p>
                  Une expérience inoubliable ! J'ai eu l'opportunité de faire l'ascension du Mont Toubkal avec ce guide exceptionnel et je ne pourrais pas être plus satisfait. Il a été extrêmement professionnel et attentionné tout au long du trek, partageant ses connaissances sur la région, la culture locale et la montagne. Les paysages étaient à couper le souffle, et grâce à son expertise, l'ascension a été bien plus agréable et enrichissante. C'est une aventure que je recommande vivement à tous ceux qui veulent découvrir la beauté sauvage du Maroc de manière authentique et guidée. Un grand merci pour ce souvenir incroyable !🌟                 
                </p>
              </div>
              <div class="client__details">
                <img src="images/client-3.jpg" alt="client" />
                <div>
                  <h4>Giyuu Tomioka</h4>
                  <h5>Pilier de l'eau du Corps des tueurs de démons</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="client__card">
              <div class="client__content">
                <div class="client__rating">
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                </div>
                <p>
                  Finding a balance between work and travel can be challenging,
                  but Skywings made it effortless. Their efficient planning and
                  excellent recommendations helped me maximize my downtime and
                  enjoy every moment of my trip. I look forward to working with
                  them again on future travels.
                </p>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>