<body>
  <nav class="navbar">
    <div class="navbar-logo">Magmate</div>
    <ul class="navbar-links">
      <li><a href="#">Accueil</a></li>
      <li><a href="#">Produits</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="search"
      (input)="loadProduits()"
      placeholder="Recherche un produit..."
    />
    <select
      class="select-ville"
      [(ngModel)]="selectedVille"
      (change)="loadProduits()"
    >
      <option value="">Toutes les villes</option>
      <option *ngFor="let ville of villes" [value]="ville">{{ ville }}</option>
    </select>
    <button class="market-button" (click)="openPopup()">Mon magasin</button>
  </div>
  <!--pop-up -->
  <div class="modal" *ngIf="showMagasinPopup">
    <div class="modal-content">
      <span class="close" (click)="showMagasinPopup = false">&times;</span>
      <h2>Vous n'avez pas un magasin</h2>
      <p>Veulliez créer votre propre magasin ici.</p>
      <button class="create-magasin" >Créer mon magasin</button>   
    </div>
  </div>

  <div
    class="produits-container"
    *ngIf="produits.length > 0; else aucunResultat"
  >
    <app-product-card
      *ngFor="let produit of produits"
      [produit]="produit"
    ></app-product-card>
  </div>

  <ng-template #aucunResultat>
    <div class="aucun-resultat">
      <p>Aucun produit trouvé.</p>
    </div>
  </ng-template>
</body>
<footer class="footer">
  <p>&copy; 2025 Magmate - Tous droits réservés</p>
</footer>

