<body>
  <div class="welcome-banner">
    <img src="http://localhost:3000/public/images/artisanat.jpg" alt="Bienvenue sur le marketplace">
    <div class="welcome-text">
      <h1>Bienvenue sur notre Marketplace</h1>
      <p>Trouvez tout ce dont vous avez besoin en un seul endroit.</p>
      <button class="scroll-button" (click)="scrollToProduits()">Voir les produits</button>
    </div>
  </div>
  
  <div class="search-bar">
    <div class="search-left">
      <input
        type="text"
        [(ngModel)]="search"
        (input)="loadProduits()"
        placeholder="   Recherche un produit..."
      />
      <select
        class="select-ville"
        [(ngModel)]="selectedVille"
        (change)="loadProduits()"
      >
        <option value="">Toutes les villes</option>
        <option *ngFor="let ville of villes" [value]="ville">{{ ville }}</option>
      </select>
    </div>
  
    <div class="search-right">
      <button class="market-button" (click)="openPopup()">Mon magasin</button>
    </div>
  </div>
  <!-- POP-UP MODAL -->
<div *ngIf="showPopup" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closePopup()">&times;</span>
    <h2>Information</h2>
    <p>{{ message }}</p>
  </div>
</div>

  <!--pop-up -->
  <div class="modal" *ngIf="showMagasinPopup">
    <div class="modal-content">
      <span class="close" (click)="showMagasinPopup = false">&times;</span>
      <h2>Vous n'avez pas un magasin</h2>
      <p>Veulliez créer votre propre magasin ici.</p>
      <button class="create-magasin" >Créer mon magasin</button>   
    </div>
  </div>
  

  <div
    class="produits-container"
    *ngIf="produits.length > 0; else aucunResultat"
  >
    <app-product-card
      *ngFor="let produit of produits"
      [produit]="produit"
    ></app-product-card>
  </div>

  <ng-template #aucunResultat>
    <div class="aucun-resultat">
      <p>Aucun produit trouvé.</p>
    </div>
  </ng-template>
</body>

