<div class="navigation">

  <div class="nav__header">
    <div class="nav__logo">
      <a routerLink="/" class="logo">Magmate</a>
    </div>
    <div class="nav__menu__btn" id="menu-btn">
      <i class="ri-menu-line"></i>
    </div>
  </div>
  <ul class="nav__links" id="nav-links">
    <li><a routerLink="/">HOME</a></li>
    <li><a href="#Marketplace" (click)="smoothScroll($event)">Marketplace</a></li>
    <li><a href="#événement" (click)="smoothScroll($event)">Événement</a></li>
    <li><a routerLink="/translation-currency">Service de traduction et monnaie</a></li>
    <li><a href="#Service de prestataire" (click)="smoothScroll($event)">Service de prestataire</a></li>
<!--  
    <li class="nav__profile">
      <a routerLink="/profile">
        <img src="images/header-bg1.jpg" alt="header" class="nav__profile-pic" />
      </a>
    </li>
-->  
<li class="nav__profile">
  <a routerLink="/profile">
    <img 
      [src]="profilePhotoUrl" 
      alt="Photo de profil" 
      class="nav__profile-pic"
      (error)="profilePhotoUrl = 'images/default-profile.png'"
    />
  </a>
</li>
  </ul>
</div>

