<div class="my-events">
  <h1>Mes Événements</h1>
    <!-- Bouton Retour -->
  <button class="back-btn" (click)="goBack()">Retour</button>


  <!-- Loader -->
  <div *ngIf="isLoading" class="loader-container">
    <div class="loader"></div>
  </div>

  <!-- Liste des événements -->
  <div *ngIf="!isLoading && myEvents.length > 0" class="events-grid">
    <div *ngFor="let event of myEvents" class="event-card">
      <div class="card-header">
        <h3>{{ event.title }}</h3>
        <span class="status" [ngClass]="event.status.toLowerCase()">
          {{ event.status }}
        </span>
      </div>
      <p>{{ event.description }}</p>
      <p><strong>Lieu :</strong> {{ event.city }} - {{ event.lieu }}</p>
      <p><strong>Date :</strong> {{ event.date | date:'dd/MM/yyyy HH:mm' }}</p>

      <div class="card-actions">
        <button (click)="editEvent(event.id)">Modifier</button>
        <button (click)="deleteEvent(event.id)">Supprimer</button>
      </div>
    </div>
  </div>

  <!-- Message si aucun événement -->
  <div *ngIf="!isLoading && myEvents.length === 0" class="no-events">
    <p>Vous n'avez créé aucun événement.</p>
  </div>
</div>