<div class="magasin-form-container">
  <h2>Créer un magasin</h2>

  <!-- Fenêtre modale avec l'alerte -->
  <div *ngIf="alertMessage" class="modal-overlay">
    <div class="modal" [ngClass]="alertType">
      <p>{{ alertMessage }}</p>
      <button (click)="closeAlert()" class="close-btn">OK</button>
    </div>
  </div>

  <form (ngSubmit)="onSubmit()" [formGroup]="magasinForm">
    <div class="form-group">
      <label for="nom">Nom du magasin</label>
      <input id="nom" formControlName="nom" type="text" required />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" formControlName="description" required></textarea>
    </div>

    <div class="form-group">
      <label for="image">Image</label>
      <input type="file" id="image" formControlName="image" (change)="onFileChange($event)" required />
    </div>

  

    <div class="form-group">
      <label for="localisation">Localisation</label>
      <input id="localisation" formControlName="localisation" type="text" required />
    </div>

    <div class="form-group">
      <label for="horaire">Horaire</label>
      <input id="horaire" formControlName="horaire" type="text" required />
    </div>

    <div class="form-group">
      <label for="telephone">Téléphone</label>
      <input id="telephone" formControlName="telephone" type="text" required />
    </div>

    <div class="form-group">
      <label for="ville">Ville</label>
      <input id="ville" formControlName="ville" type="text" required />
    </div>

    <button type="submit" [disabled]="!magasinForm.valid">Créer le magasin</button>
  </form>
</div>
