<body>
  <h1><i>{{ product.titre }}</i></h1><!-- Entête de la page avec le titre -->

  <div *ngIf="product" class="product-details">
    <!-- Section des images du produit -->
    <div class="product-images">
      <!-- Image principale affichée en grand -->
      <img *ngIf="product.imagePrincipale" [src]="product.imagePrincipale" class="main-image" />
      <!-- Miniatures en dessous de l'image principale -->
      <div class="thumbnail-images">
        <img *ngFor="let image of product.images"
             [src]="'http://localhost:3000/public/images/'+image.imageURL"
             alt="Miniature image produit"
             class="thumbnail"
             (click)="selectImage(image)" />
      </div>
    </div>

    <!-- Informations sur le produit -->
    <div class="product-info">
       <!-- Titre du produit -->
      <div class="price">
        <span>{{ product.prix }} DH</span>
      </div>
      <p>{{ product.description }}</p> <!-- Description du produit -->
      
      <!-- Affichage du prix -->
      

      <p class="store-name">
        Magasin : 
        
          {{ product.magasin.nom }}
        
      </p>
       <div class="button-container">
      <button (click)="showReclamationForm = true" class="report-button">
        Signaler le produit
      </button>

      <!-- Bouton pour contacter le vendeur -->
      <button class="contact-button" (click)="contactSeller()">
        Contacter le vendeur
      </button>
      </div>
    </div>
  </div>

  <!-- Section des commentaires -->
<div class="comments-section">
  <h3>Vos commentaires</h3>
  <div *ngFor="let comment of comments" class="comment">
    <p class="username">{{ comment.auteur?.lname }} {{ comment.auteur?.fname }} :</p>
    <p>{{ comment.commentaire }}</p>
    <div class="rating">
      <span *ngFor="let star of [].constructor(comment.note); let i = index">★</span>
    </div>
  </div>
  
  

  <div class="add-comment">
    <textarea [(ngModel)]="newComment" placeholder="Écrivez votre commentaire"></textarea>
    <div class="rating">
      <span *ngFor="let star of [1, 2, 3, 4, 5]" (click)="setRating(star)" [class.selected]="star <= rating">★</span>
    </div>
    <button (click)="addComment()">Ajouter le commentaire</button>
  </div>
</div>
<!-- Modal pour la réclamation -->
<div *ngIf="showReclamationForm" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeReclamationForm()">&times;</span>
    <h3>Formulaire de réclamation</h3>

    <form class="reclamation-form" (ngSubmit)="addReclamation()">
      <!-- Description de la réclamation -->
      <div class="form-group">
        <label for="description" class="form-label">Description </label>
        <textarea [(ngModel)]="reclamationData.description" name="description" id="description" required></textarea>
      </div>

      <!-- Pièce jointe -->
      <div class="form-group">
        <label for="pieceJointe" class="form-label">Pièce jointe (facultatif) </label>
        <input type="file" (change)="onFileSelected($event)" name="pieceJointe" id="pieceJointe" />
      </div>

      <!-- Bouton Envoyer -->
      <div class="form-group">
        <button type="submit" [disabled]="!reclamationData.description">Envoyer la réclamation</button>
      </div>
    </form>
  </div>
</div>


</body>
