<div class="product-card" (mouseenter)="showButtons = true" (mouseleave)="showButtons = false">
  <!-- Badge "Nouveau" si le produit est récent -->
  <div class="badge" *ngIf="isNewProduct(product.dateAjout)">Nouveau</div>

  <div class="product-content">
    <!-- Image du produit -->
    <img [src]="'http://localhost:3000/public/images/' + product.imagePrincipal" alt="{{ product.titre }}" />
    <div class="product-info">
      <!-- Titre et prix du produit -->
      <h3><strong>{{ product.titre }}</strong></h3>
      <p class="price"><strong>{{ product.prix }} MAD</strong></p>
    </div>
  </div>

  <!-- Boutons Modifier et Supprimer, visibles uniquement lors du survol -->
  <div *ngIf="showButtons" class="button-container">
    <button (click)="onEditProduct(product.idProduit)">Modifier</button>
    <button (click)="onDeleteProduct(product.idProduit)">Supprimer</button>
  </div>
</div>
